@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="border rounded bg-light p-2">
    <form class="form-inline" method="get">
        <label class="mr-sm-2 mb-sm-0 mb-2">Brand</label>
        <select asp-for="BrandId" asp-items="Model.Brands" class="form-control mr-sm-2 mb-sm-0 mb-2"></select>
        <label class="mr-sm-2 mb-sm-0 mb-2">Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control mr-sm-2 mb-sm-0 mb-2"></select>
        <button class="btn btn-primary mr-sm-2 mb-sm-0">List</button>
    </form>
</div>

<div class="row mt-3">
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-3 col-md-4 col-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <img src="~/img/products/@product.PictureUri" alt="@product.Name" class="w-100" />
                    <div class="product-name mt-2" title="@product.Name">@product.Name</div>
                    <div class="mt-2">@product.PriceTry</div>
                </div>
            </div>
        </div>
    }
</div>



